body{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

.section-1{
    background-image: url(images/02-section01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    width: 100%;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;    
}


h1{
    font-size: 40px;
    font-weight: 900px;
}

.section-1 p{
    font-weight: 700;
}

.linkopen-1{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px 40px;
    margin-top: 40px;
}


.section-2{
    padding-top: 100px;
}


h5{
    background-color: aliceblue;
    margin: 20px;
    padding: 25px;
}


.div-flex{
    display: inline-flex;
    align-content: center;
}

#h5-bold{
    color: red;
    border: 2px solid red;
    background-color:blanchedalmond;
}

.input-taka{
    text-align: center;
    padding: 5px 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}



.section-3{
    padding-top: 100px;
}

.Food-family{
    background-color: bisque;
    margin: 20px;
}

.shelter-family{
    background-color: beige;
    margin: 20px;
}

.education-child{
    background-color: azure;
    margin: 20px;
}

.shelter-family-child-div{
    width: 400px;
    height: 400px;
    padding: 15px;
    text-align: left;
    padding-top: 5%;
}

.shelter-family-child-div h3{
    font-weight: 700;
}

.section-3{
    padding-top: 100px;
    margin: 0 100px;
}

.half-width{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50%;
    padding: 30px;
    
    
}


.half-width img{
    width: 100%;
    padding: 30px;
}



footer{
    background-color: black;
}

strong{
    color: orangered;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

small{
    color: white;
}

.section-5{
    padding-top: 100px;
    padding-bottom: 100px;
}

.input-mail{
    background-color: aqua;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
}

.input-mail-2{
    height: 35px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
}

.input-mail-3{
    height: 35px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
}

.section-4 h2{
    padding-bottom: 0;

}


